@import 'base.css';

body {
  background-color: var(--light-white);
}

.container-fluid {
  padding: 0 15px;  
}

h1 {
  font-family: 'Oswald', sans-serif;
  font-size: clamp(27px, 4vw, 3em);
  font-weight: 700;
  line-height: 62px;
  color: var(--white);
}
h2 {
  font-family: 'Oswald', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--primary);
}
h3 {
  font-size: 16px;
  font-weight: 600;
  line-height: 30px;
  color: var(--black);
}
h4 {
  font-family: 'Oswald', sans-serif;
  font-weight: 600;
  font-size: 22px;
  line-height: 33px;
  color: var(--black);
}
p {
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
}
a[type=button],
button {
  padding: 18px 40px;
  border: 1px solid white;
  border-radius: 4px;
  filter: drop-shadow(0px 4px 20px rgba(54, 45, 45, 0.25));
  font-size: 18px;
  font-weight: 800;
  line-height: 22px;
  text-decoration: none;
  text-align: center;
}
button.primary {
  background-color: var(--primary)!important;
  color: var(--white);
}
a[type=button].secondary,
button.secondary {
  background-color: var(--secondary)!important;
  color: var(--white);
  border: none;
  min-width: 168px;
  box-shadow: 0px 4px 20px rgba(54, 45, 45, 0.25);
}
