section#hero {
    position: relative;
    overflow-x: hidden;
}
section#intro {
    margin-bottom: 50px;
}
section#circulair {
    margin-bottom: 80px;
}
section#collection-station {
    margin-bottom: 60px;
    position: relative;
}
section#collection-station .background-vector {
    position: absolute;
    background-image: url("./../vectors/refill-circulair-backgroud.webp");
    background-repeat: no-repeat;
    background-position: top left;
    background-size: contain;
    width: 750px;
    max-width: 100vw;
    height: 915px;
    top: 300px;
    z-index: -1;
}
section#dishwasher {
    margin-bottom: 60px;
}
section#contact-footer {
    margin-bottom: 60px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    section#hero {
        margin-bottom: 70px;
    }
    section#intro {
        position: relative;
    }
    section#intro .vector {
        position: absolute;
        background-image: url("./../vectors/popcornbeker.webp");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;
        width: 205px;
        height: 227px;
        top: -60px;
        z-index: -1;
    }
    section#circulair {
        margin-bottom: 100px;
        position: relative;
    }
    section#collection-station{
        margin-bottom: 100px;
    }
    section#dishwasher {
        margin-bottom: 100px;
        position: relative;
    }
    section#dishwasher .vector {
        position: absolute;
        background-image: url("./../vectors/striped-circle.webp");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;
        width: 205px;
        height: 227px;
        top: -120px;
        right: 0;
        z-index: -1;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}

@media (min-width: 1700px) {
    section#intro .vector-waves {
        position: absolute;
        background-image: url("./../vectors/waves.svg");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;
        width: 214px;
        height: 96px;
        top: 350px;
        right: 0;
        z-index: -1;;
    }
}