section#hero {
    min-height: calc(100vh - 115px);
    position: relative;
    margin-bottom: 60px;
}
section#products {
    margin-bottom: 100px;
}
section#number-card {
    margin-bottom: 100px;
}
section#product-range {
    margin-bottom: 260px;
}
section#sale-models {
    margin-bottom: 160px;
}
section#partner-card {
    margin-bottom: 100px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    section#hero {
        margin-bottom: 80px;
    }
    section#products {
        margin-bottom: 100px;
    }
    section#number-card {
        margin-bottom: 100px;
    }
    section#product-range {
        margin-bottom: 260px;
    }
    section#sale-models {
        margin-bottom: 160px;
    }
    section#partner-card {
        margin-bottom: 100px;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
}