section#hero {
    position: relative;
    overflow-x: hidden;
}
section#sustainable-minfal {
    margin-bottom: 50px;
}
section#benefits {
    margin-bottom: 150px;
}
section#product-range {
    margin-bottom: 50px;
}
section#product-range-text {
    margin-bottom: 142px;
}
section#contact-footer {
    margin-bottom: 60px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    section#hero {
        margin-bottom: 70px;
    }
    section#sustainable-minfal {
        position: relative;
    }
    section#sustainable-minfal .vector {
        position: absolute;
        background-image: url("./../vectors/popcornbeker.webp");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;
        width: 205px;
        height: 227px;
        top: -60px;
    }
    section#benefits {
        background-image: url("./../vectors/waves.svg");
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 214px 96px;
        margin-bottom: 0;
    }
    section#product-range {
        padding-top: 414px;
        padding-bottom: 160px;
        margin-bottom: 0;
        background-image: 
                url("./../vectors/striped-circle.webp"),
                url("./../vectors/popcorn-popcornbeker-drink.webp"),
                url("./../vectors/popcorn-popcornbeker.webp"),
                url("./../vectors/popcorn-product-range-top.webp");
        background-size:
                200px 200px,
                auto 172px,
                auto 325px,
                contain;
        background-repeat: no-repeat;
        background-position: 
                top 20% right,
                top 50% left 5%,
                top 75% right 5%,
                top left;
    }
    section#product-range-text {
        padding-bottom: 500px;
        background-image: url("./../vectors/popcorn-product-range-text.webp");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: top -120px right;
    }
    section#contact-footer {
        margin-top: -400px;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    section#contact-footer {
        margin-top: -250px;
    }
}