section#hero {
    position: relative;
    overflow-x: hidden;
}
section#intro {
    margin-bottom: 50px;
}
section#popcornbekers {
    margin-bottom: 80px;
}
section#nacho-trays {
    margin-bottom: 70px;
    padding-top: 200px;
    position: relative;
    background-image: url("./../vectors/products-top-background.png");
    background-repeat: no-repeat;
    background-position: top -125px center;
    background-size: cover;
}
section#soft-drink {
    padding-top: 200px;
    padding-bottom: 230px;
    position: relative;
    background-image: url("./../vectors/products-bottom-background.png");
    background-repeat: no-repeat;
    background-position: bottom -215px center;
    background-size: cover;
}
section#soft-drink .card {
    background: #FFFFFF;
    box-shadow: 2px 0 30px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    border: none;
}
section#soft-drink .card .card-header {
    font-family: 'Oswald', sans-serif;
    color: var(--white);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
    line-height: 36px;
    background-color: var(--secondary);
    text-align: center;
    padding: 7px 0;
    border-bottom: none;
}
section#soft-drink table tr {
    border-bottom: 1px solid #EEEEEE;
}
section#soft-drink table th {
    padding: 11px 0 11px 22px;
    font-style: normal;
    font-weight: 900;
    font-size: 18px;
    line-height: 30px;
}
section#soft-drink table td {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
}
section#contact-footer {
    margin-bottom: 60px;
}

ul li {
    list-style-image: url("@/assets/vectors/list-style-image.svg");
    padding-left: 12px;
    margin-bottom: 18px;
}
ul li span {
    position: relative;
    top: -4.5px;
}

/* Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
}

/* Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {
    section#hero {
        margin-bottom: 70px;
    }
    section#intro {
        position: relative;
    }
    section#intro .vector {
        position: absolute;
        background-image: url("./../vectors/popcornbeker.png");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;
        width: 205px;
        height: 227px;
        top: -60px;
        z-index: -1;
    }
    section#nacho-trays {
        background-position: top center;
    }
    section#soft-drink {
        background-position: bottom center;
    }
}

/* X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    section#intro .vector-waves {
        position: absolute;
        background-image: url("./../vectors/waves.svg");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;
        width: 214px;
        height: 96px;
        top: 350px;
        right: 0;
        z-index: -1;;
    }
}

/* XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {
    section#nacho-trays .vector {
        position: absolute;
        background-image: url("./../vectors/striped-circle.png");
        background-repeat: no-repeat;
        background-position: top left;
        background-size: contain;
        width: 200px;
        height: 200px;
        top: 150px;
        right: 0;
        z-index: 1;
    }
}